<!DOCTYPE html>
<html>
    <head>
        <title>Recipe List</title>
    </head>
    <body>
        <h1>Delicious Recipes</h1>
        <ul>
            <%@recipes.each do |recipe| %>
            <li><a href="/recipes/<%=recipe.id%>"><%=recipe.name%></li>
            <%end%>
        </ul>
    </body>
</html>